* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

:root {
    --general-bg: #000000;
    --footer-bg: #222222;
    --icons-color: #FFFFFF;
    --green-icon: #4BC800;
    --close-bg: #FF0000;
    --user-bg: #4A4A4A;
    --text-color: #FFFFFF;
}

header, main {
    background-color: var(--general-bg);
}

img {
    width: 100%;
    display: block;
}

/* header */

header {
    height: 8vh;
}

.view {
    display: flex;
    flex-direction: row-reverse;
    padding: 0.5rem;
}

.view a {
    margin-left: 0.3rem;
    padding: 0.1rem 0.3rem;
    background-color: var(--user-bg);
    font-size: 0.8rem;
    border-radius: 3px;
    align-content: center;
}

/* / header */

/* main */

main {
    height: 82vh;
    width: 100vw;
}

.container {
    margin: 0 5%;
}

.user {
    width: calc((100% / 7) - 1rem);
    position: relative;
}

.user div {
    position: absolute;
    left: 0;
    bottom: 0.1rem;
    background-color: rgba(131, 130, 130, 0.65);
    padding: 0.3rem 0.2rem;
    font-size: 0.8rem;
}

.m-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 0.8rem 0.5rem;
    text-align: center;
}

/* / main */

/* footer */

footer {
    background-color: var(--footer-bg);
    height: 10vh;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.audio-video div,
.select div,
.exit a{
    align-content: center;
    padding: 1rem 0.2rem;
}

p {
    font-size: 0.85rem;
}

.fa-microphone,
.fa-video,
.fa-user-plus,
.fa-user-group,
.fa-chart-column,
.fa-share-from-square,
.fa-comment,
.fa-record-vinyl,
.fa-microsoft,
.fa-ellipsis {
    font-size: 1.8rem;
}

.choose {
    padding: 0.1rem 1rem;
}

.fa-share-from-square {
    color: var(--green-icon);
}

.icon:hover {
    background-color: #4A4A4A;
    border-radius: 10px;
}

.exit {
    background-color: var(--close-bg);
}

.exit:hover {
    background-color: #ff6363;
}